*{
margin:1px;
padding:1px;
}
#header{
	padding:1px;
	border-radius: 15px;
	border: 4px black solid;
}
#Menu{
	margin:5px;
	padding:40px;
	width: 220px;
	border-radius: 15px;
	background: #b3b3b3;
	text-align: center;
	font-family: 'franklin Gothic', arial, tahoma, helvetica;
}
ul,ol{
	list-style: none;
}
.nav li a{
	background-color:#005883;
	color:white;
	text-decoration: none;
	border: transparent 2px black;
	border-radius: 15px;
	padding: 10px 40px;
	display: block;

}
.nav li a:hover{
	margin-right: -20px;
	margin-left: 20px;
	background-color:#333333;
	
}
.nav li ul{
	display: none;
	position: relative;
	min-width: 50px;
	transition:background .6s, margin-left .6s, margin-right .6s;
}
.nav li:hover > ul{
	display:block;
}
#Menu .contenedor{
  position: fixed;
} 
h1{
	text-align: center;
}
#section .contenedor{
  position: absolute;
  margin:10px;
  height:355px;
  width: 938px;
  left: 24.5%;
  top:15%;
}
#footer .contenedor{
	position: fixed;
	margin:4px;
	background-color:white;
	padding:1px;
	height:180px;
	width: 938px;
	border-radius: 15px;
	border: 4px black solid;
  left: 24.5%;
  top:70.5%;
 }
 .content-all {
 	width: 600px;
 	margin-left: 30%;
 	perspective: 1000px;
  
 }

.content-carrousel:hover{
 animation-play-state: paused;
 cursor: pointer;
 }

 .content-carrousel{
 	width: 60%;
 	position: absolute;
 	animation: rotar 10s infinite linear; 

 	transform-style: preserve-3d;
 }

.content-carrousel figure{
 	width: 100%;
 	height:100%;
 	position: absolute;
 }

 .content-carrousel figure:nth-child(1){transform: rotateY(0deg)
 	translateZ(300px);}

.content-carrousel figure:nth-child(2){transform: rotateY(72deg)
 	translateZ(300px);}

.content-carrousel figure:nth-child(3){transform: rotateY(144deg)
 	translateZ(300px);}

.content-carrousel figure:nth-child(4){transform: rotateY(216deg)
 	translateZ(300px);}

.content-carrousel figure:nth-child(5){transform: rotateY(288deg)
 	translateZ(300px);}

.content-carrousel figure:nth-child(6){transform: rotateY(360deg)
 	translateZ(300px);}


 .content-carrousel img{
 	width: 100%;  	
 }

@keyframes rotar{
	from {
		transform: rotateY(0deg);
	}to{
		transform: rotateY(360deg);
}